<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <%- include('layouts/navbar'); -%>

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <%- include('layouts/topbar'); -%>

                            <!-- BOdy-->

                            <!-- Begin Page Content -->
                            <div class="container-fluid">
                                <!-- Page Heading -->
                                <h1 class="h3 mb-2 text-gray-800">Hospital Information</h1>
                                <!-- DataTales Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Data Table</h6>
                                    </div>
                                    <div class="card-body">
                                        <form action="/hospital-information/<%= list._id %>" method="POST" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="iD">ID</label>
                                                <input id="iD" name="iD" class="form-control" value="<%= list._id %>" disabled/>
                                            </div>
                                            <div class="form-group">
                                                <label for="hospitalName">Name hospital</label>
                                                <input type="text" id="hospitalName" name="hospitalName" class="form-control" value="<%= list.hospitalName %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="phoneNumber">Phone number</label>
                                                <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" value="<%= list.phoneNumber %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="address">Address</label>
                                                <input id="address" name="address" class="form-control" value="<%= list.address %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="subsidiaries">Subsidiaries</label>
                                                <input id="subsidiaries" name="subsidiaries" class="form-control" value="<%= list.subsidiaries %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="description">Description</label>
                                                <input id="description" name="description" class="form-control" value="<%= list.description %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="img">Image Hospital</label>
                                                <input type="file" name="imageHospital" class="form-control" />
                                                <img src="/public/upload/<%= list.imageHospital %>">
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-create">Save</button>
                                            <a href="/list-hospital" class="btn btn-primary" type="submit">Return</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- end body-->

                    </div>
                    <!-- End of Main Content -->

                    <%- include('layouts/footer'); -%>

                </div>
                <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <%- include('layouts/logout'); -%>

            <%- include('layouts/script'); -%>
    </body>

</html>