<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <%- include('layouts/navbar'); -%>

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <%- include('layouts/topbar'); -%>
                            <!-- BOdy-->

                            <!-- Begin Page Content -->
                            <div class="container-fluid">
                                <!-- Page Heading -->
                                <h1 class="h3 mb-2 text-gray-800">Patient Information</h1>
                                <!-- DataTales Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
                                    </div>
                                    <div class="card-body">
                                        <form action="/information-patient/<%= user._id %>" method="POST" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="ID">ID</label>
                                                <input id="ID" name="ID" class="form-control" value="<%= user._id %>" disabled/>
                                            </div>
                                            <div class="form-group">
                                                <label for="firstName">First Name</label>
                                                <input id="firstName" name="firstName" class="form-control" value="<%= user.firstName %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="lastName">Last Name</label>
                                                <input type="text" id="lastName" name="lastName" class="form-control" value="<%= user.lastName %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="orFullname">Or fullname (as in passport) </label>
                                                <input type="text" id="orFullname" name="orFullname" class="form-control" value="<%= user.orFullname %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="dateOfBirth">Date of birth</label>
                                                <input type="date" id="dateOfBirth" name="dateOfBirth" class="form-control" value="<%= user.dateOfBirth %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="gender">Gender</label>
                                                <input type="text" id="gender" name="gender" class="form-control" value="<%= user.gender %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="nationality">Nationality</label>
                                                <input type="text" id="nationality" name="nationality" class="form-control" value="<%= user.nationality %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="countryofresidence">Country of residence </label>
                                                <input type="text " id="countryofresidence" name="countryofresidence" class="form-control" value="<%= user.countryofresidence %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="passport">Passport / ID card # </label>
                                                <input id="passport" name="passport" class="form-control" value="<%= user.passport %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="issuedBy">issued by</label>
                                                <input id="issuedBy" name="issuedBy" class="form-control" value="<%= user.issuedBy %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="expiredDate">Expired date </label>
                                                <input type="date " id="expiredDate" name="expiredDate" class="form-control" value="<%= user.expiredDate %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" id="email" name="email" class="form-control" value="<%= user.email %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="mobile">Mobile #</label>
                                                <input type="tel" id="mobile" name="mobile" class="form-control" value="<%= user.mobile %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input type="text" id="username" name="username" class="form-control" value="<%= user.username %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" id="password" name="password" class="form-control" value="<%= user.password %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Confirm Password</label>
                                                <input type="password" id="password2" name="password2" class="form-control" value="<%= user.password2 %>" />
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-create">Save</button>
                                            <a href="/list-patient" class="btn btn-primary" type="submit">Return</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- end body-->

                    </div>
                    <!-- End of Main Content -->

                    <%- include('layouts/footer'); -%>

                </div>
                <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <%- include('layouts/logout'); -%>

            <!-- Bootstrap core JavaScript-->
            <%- include('layouts/script'); -%>

    </body>

</html>