<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <%- include('layouts/navbar'); -%>
                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <%- include('layouts/topbar'); -%>

                            <!-- BOdy-->

                            <!-- Begin Page Content -->
                            <div class="container-fluid">
                                <!-- Page Heading -->
                                <h1 class="h3 mb-2 text-gray-800">List Consultats</h1>
                                <!-- DataTales Example -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
                                    </div>
                                    <div class="card-body">
                                        <form action="" method="POST">
                                            <div class="form-group">
                                                <label for="Id">ID</label>
                                                <input type="Id" id="Id" name="Id" class="form-control" value="<%= listr._id %>" disabled/>
                                            </div>
                                            <div class="form-group">
                                                <label for="fullName">Full Name</label>
                                                <input type="fullName" id="fullName" name="fullName" class="form-control" value="<%= listr.fullName %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Age">Age</label>
                                                <input type="Age" id="Age" name="Age" class="form-control" value="<%= listr.Age %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="address">Address</label>
                                                <input type="address" id="address" name="address" class="form-control" value="<%= listr.address %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Gender">Gender</label>
                                                <input type="Gender" id="Gender" name="Gender" class="form-control" value="<%= listr.Gender %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" id="email" name="email" class="form-control" value="<%= listr.email %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="phone">Phone</label>
                                                <input type="phone" id="phone" name="phone" class="form-control" value="<%= listr.phone %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="hospital">Hospital</label>
                                                <input type="hospital" id="hospital" name="hospital" class="form-control" value="<%= listr.hospital %>" />
                                            </div>
                                            <div class="form-group">
                                                <label for="position">Position</label>
                                                <input type="position" id="position" name="position" class="form-control" value="<%= listr.position %>" />
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-create">Save</button>
                                            <a href="/list-representation" class="btn btn-primary" type="submit">Return</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- end body-->

                    </div>
                    <!-- End of Main Content -->

                    <%- include('layouts/footer'); -%>

                </div>
                <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <%- include('layouts/logout'); -%>

            <%- include('layouts/script'); -%>

    </body>

</html>