<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

    <body>

        <!-- Navigation -->
        <%- include('layouts/navbar'); -%>
           
            <!-- Main Content -->
            <div class="container">
                <div class="row">
                    <input name="id" value="<%= user._id %>"  hidden/>
                    <div class="home-content">
                        <div class="content-info">
                            <table class="cell-content">
                                <tr>
                                    <td>
                                        <div>
                                            <a href="#">
                                                <h3>Johns Hopkins Hospital (JHH)</h3>
                                            </a>
                                            <p class="cell-text">Is a university hospital founded in 1889 in the state of Maryland, USA. JHH is considered one of the largest hospitals in the world. Many famous medical specialists and doctors gather at this hospital including
                                                neurosurgery with Dr.Harvey Cushin, endocrinology with Alfred Blalock, pediatrics and child psychiatry with Dr. Leo Kanne.
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/img/5.jpg">
                                    </td>
                                </tr>
                            </table>
                            <hr>
                            <table class="cell-content">
                                <tr>
                                    <td>
                                        <img src="/img/2.jpg">
                                    </td>
                                    <td>
                                        <div>
                                            <a href="#">
                                                <h3>Anderson MD Texas Central Cancer Center Hospital</h3>
                                            </a>
                                            <p class="cell-text">One of the best cancer training and treatment hospitals in the world, locatedin Texas, USA. Every year, this hospital takes over and treats hundreds of thousands of patients with cancer.
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <hr>
                            <table class="cell-content">
                                <tr>
                                    <td>
                                        <div>
                                            <a href="#">
                                                <h3>Johns Hopkins Hospital (JHH)</h3>
                                            </a>
                                            <p class="cell-text">Is a university hospital founded in 1889 in the state of Maryland, USA. JHH is considered one of the largest hospitals in the world. Many famous medical specialists and doctors gather at this hospital including
                                                neurosurgery with Dr.Harvey Cushin, endocrinology with Alfred Blalock, pediatrics and child psychiatry with Dr. Leo Kanne.
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/img/5.jpg">
                                    </td>
                                </tr>
                            </table>
                            <hr>
                            <table class="cell-content">
                                <tr>
                                    <td>
                                        <img src="/img/6.jpg">
                                    </td>
                                    <td>
                                        <div>
                                            <a href="#">
                                                <h3>Cedars-Sinai Medical Center</h3>
                                            </a>
                                            <p class="cell-text">Is a university hospital located in California, USA. Cedars-Sinai focuses on interdisciplinary collaboration between doctors and clinical researchers. Facilities with research centers include cardiovascular,
                                                genetics, therapeutic genes, gastroenterology, neurology, immunology, surgery, organ transplantation, stem cells, biomedical imaging and oncology. Letters with more than 800 research projects underway.
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <hr>
                            <table class="cell-content">
                                <tr>
                                    <td>
                                        <div>
                                            <a href="#">
                                                <h3>Stanford Hospital</h3>
                                            </a>
                                            <p class="cell-text">Is a medical system including universities and hospitals located in the state of California, USA. Stanford is famous for breakthroughs in cancer treatment, heart disease, brain disorders and surgical and medical
                                                conditions.
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/img/3.jpg">
                                    </td>
                                </tr>
                            </table>
                            <hr>
                            <!-- Pager -->
                            <div class="pagination">
                                <a href="#">&laquo;</a>
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <!-- <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a> -->
                                <a href="#">&raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <%- include('layouts/footer'); -%>
                <%- include('layouts/scripts'); -%>

    </body>

</html>