<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

    <body>

        <!-- Navigation -->
        <%- include('layouts/navbar'); -%>

            <!-- Post Content -->
            <div class="row">
                <div class="container">
                    <% user.forEach((user) => { %>
                        <div class="patient-fluid" >
                                <nav class="navbar navbar-expand-lg">
                                    <h3>PATIENT PROFILE</h3>
                                    <input name="id" value="<%= user._id %>"  hidden/>                                
                                    <ul class="navbar-nav ml-auto">
                                        <a id="save-btn" class="btn btn-primary" type="submit" href="/profile/edit/<%= userId %>" >Edit</a>
                                    </ul>
                                </nav>
                                <div class="container">
                                    <div class="patient-prof">
                                        <div class="row-1">
                                            <b class="col-sm-2">First name</b>
                                            <div class="col-sm-2">
                                                <%= user.firstName %>
                                            </div>
                                            <b class="col-sm-2">Last name</b>
                                            <div class="col-sm-2">
                                                <%= user.lastName %>
                                            </div>
                                        </div>
                                    </br>
                                        <div class="row-1">   
                                            <b class="col-sm-4">OR fullname (as in passport)</b>
                                            <div class="col-sm-4">
                                                <%= user.orFullname %>
                                            </div>
                                        </div>
                                    <br>
                                        <div class="row-1">
                                            <b class="col-sm-2">Date of birth</b>
                                            <div class="col-sm-2">
                                                <%= user.dateOfbirth %>
                                            </div>
                                            <b class="col-sm-2">Gender</b>
                                            <div class="col-sm-2">
                                                <%= user.gender %>
                                            </div>
                                        </div>
                                    </br>
                                        <div class="row-1">
                                            <b class="col-sm-2">Nationality</b>
                                            <div class="col-sm-6">
                                                <%= user.nationality %>
                                            </div>
                                        </div>
                                    </br>  
                                        <div class="row-1">
                                            <b class="col-sm-4">Country of residence</b>
                                            <div class="col-sm-4">
                                                <%= user.countryOfResidence %>
                                            </div>
                                        </div>
                                    <br>
                                        <div class="row-1">
                                            <b class="col-sm-4">Passport/ID card#</b>
                                            <div class="col-sm-4">
                                                <%= user.passport %>
                                            </div>
                                        </div>
                                    </br>
                                        <div class="row-1">
                                            <b class="col-sm-2">Expired date</b>
                                            <div class="col-sm-6">
                                                <%= user.expiredDate %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    <% }) %>
                </div>
                </div>
            <!-- Footer -->

            <%- include('layouts/footer'); -%>
                <%- include('layouts/logout'); -%>
                    <%- include('layouts/scripts'); -%>


    </body>

</html>