<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

    <body>

        <!-- Navigation -->
        <%- include('layouts/navbar'); -%>

            <!-- Page Header -->


            <!-- Main Content -->
            <div class="row">
            <div class="container">
                    <div class="patient-fluid" >
                        <% user.forEach((user) => { %>
                        <form action="" method="POST">
                            <nav class="navbar navbar-expand-lg">
                                <h3>PATIENT PROFILE</h3>
                                <input name="id" class="form-control" value="<%= user._id %>" hidden/>
                                <ul class="navbar-nav ml-auto">
                                    <input id="save-btn" class="btn btn-primary" type="submit" value="Save" >
                                </ul>
                            </nav>
                            <div class="container">
                                <div class="patient-prof">
                                <div class="row-1">
                                <div class="col-sm-10">
                                    <div class="row-1">
                                        <b class="col-sm-2">First name</b>
                                        <div class="col-sm-2">
                                            <input name="firstName" class="form-control" value="<%= user.firstName %>" />
                                        </div>
                                        <b class="col-sm-2">Last name</b>
                                        <div class="col-sm-2">
                                            <input name="lastName" class="form-control" value="<%= user.lastName %>" />
                                        </div>
                                    </div>
                                </br>
                                    <div class="row-1">   
                                        <b class="col-sm-4">OR fullname (as in passport)</b>
                                        <div class="col-sm-4">
                                            <input name="orFullname" class="form-control" value="<%= user.orFullname %>" />
                                        </div>
                                    </div>
                                <br>
                                    <div class="row-1">
                                        <b class="col-sm-2">Date of birth</b>
                                        <div class="col-sm-2">
                                            <input name="dateOfBirth" class="form-control" value="<%= user.dateOfbirth %>" />
                                        </div>
                                        <b class="col-sm-2">Gender</b>
                                        <div class="col-sm-2">
                                            <input name="gender" class="form-control" value="<%= user.gender %>" />
                                        </div>
                                    </div>
                                </br>
                                    <div class="row-1">
                                        <b class="col-sm-2">Nationality</b>
                                        <div class="col-sm-2">
                                            <input name="nationality" class="form-control" value="<%= user.nationality %>" />
                                        </div>
                                    </div>
                                </br>  
                                    <div class="row-1">
                                        <b class="col-sm-2">Country of residence</b>
                                        <div class="col-sm-4">
                                            <input name="countryOfResidence" class="form-control" value="<%= user.countryOfResidence %>" />
                                        </div>
                                    </div>
                                <br>
                                    <div class="row-1">
                                        <b class="col-sm-2">Passport/ID card#</b>
                                        <div class="col-sm-4">
                                            <input name="passport" class="form-control" value="<%= user.passport %>" />
                                        </div>
                                    </div>
                                </br>
                                    <div class="row-1">
                                        <b class="col-sm-2">Expired date</b>
                                        <div class="col-sm-2">
                                            <input name="expiredDate" class="form-control" value="<%= user.expiredDate %>" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="container">
                                        <img class="img-ptr" src="/img/avatar.png" />
                                    </div>
                                </div>
                                </div>
                                </div>
                            </div>
                        </form>
                        <% }) %>
                    </div>
            </div>
            </div>

            <!-- Footer -->
            <%- include('layouts/footer'); -%>
                <%- include('layouts/scripts'); -%>

    </body>

</html>