<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

    <body>

        <!-- Navigation -->
        <%- include('layouts/navbar'); -%>

            <!-- Post Content -->
            <div class="container">
                <div class="row-2">
                    <form action="" method="POST">
                        <div class="patient-prof">
                            <h2>Manage your booking</h2><br>
                            <h4>You want to book an appointment for</h4><br>
                            <div class="row-1">
                                <div class="col-sm-2">
                                    <input type="radio" name="booking" /> Relatives
                                </div>
                                <div class="col-sm-2">
                                    <input type="radio" name="booking" /> Yourself
                                </div>
                            </div>
                            <br>
                            <h4>Patient information</h4><br>
                            <div class="row-1">
                                <div class="col-sm-6">
                                    <input name="fullName" class="form-control" value="Fullname" />
                                </div>
                                <div class="col-sm-6">
                                    <input name="DateOfBirth" class="form-control" value="Date of birth" />
                                </div>
                            </div>
                            <br>
                            <div class="row-1">
                                <div class="col-sm-6">
                                    <select class="custom-select" id="genderselect" name="Gender">
                                <option selected>Gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                                </div>
                                <div class="col-sm-6">
                                    <input name="Phone" class="form-control" value="Phone" />
                                </div>
                            </div>
                            <br>
                            <div class="row-1">
                                <div class="col-sm-12">
                                    <input name="Email" class="form-control" value="Email" />
                                </div>
                            </div>
                            <br>
                            <div class="row-1">
                                <div class="col-sm-12">
                                    <input name="Address" class="form-control" value="Address" />
                                </div>
                            </div>
                            <br>
                            <div class="row-1">
                                <div class="col-sm-12">
                                    <input name="District" class="form-control" value="District" />
                                </div>
                            </div>
                            <br>
                            <div class="row-1">
                                <div class="col-sm-12">
                                    <input name="Province" class="form-control" value="Province" />
                                </div>
                            </div>
                            <br>
                            <h5>Schedule information</h5><br>
                            <div class="row-1">
                                <div class="col-sm-6">
                                    <input name="DayExamination" class="form-control" value="Day of the examination" />
                                </div>
                                <div class="col-sm-6">
                                    <input name="TimeExamination" class="form-control" value="Examination time" />
                                </div>
                            </div>
                            <br>
                            <div class="row-1">
                                <div class="col-sm-12">
                                    <input name="Describe" class="form-control l2" value="Describe symptoms" />
                                </div>
                            </div>
                            <br>
                            <div class="row-1">
                                <ul class="navbar-nav ml-auto">
                                    <a href="home" class="btn btn-primary btn-user btn-send">Book an appointment</a>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Footer -->

            <%- include('layouts/footer'); -%>
                <%- include('layouts/logout'); -%>
                    <%- include('layouts/scripts'); -%>


    </body>

</html>